html {
  padding: 15vh 15vw;
  text-align: center;
}

* {
  box-sizing: border-box;
  background-color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.human
{
  position: static;

}


a {
  cursor: pointer;
  font-family: "Montserrat";
  font-weight: 900;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: blue;
  font-size: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-filter: blur(0);
          filter: blur(0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
a span {
  font-size: 40px;
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;
  transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 250ms;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 250ms;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 250ms, -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 250ms;
  padding: 0 0.1em;
}
a span:nth-child(0n) {
  transition-delay: 0ms;
}
a span:nth-child(0n):after {
  transition-delay: 0ms;
}
a span:nth-child(1n) {
  transition-delay: 83.3333333333ms;
}
a span:nth-child(1n):after {
  transition-delay: 83.3333333333ms;
}
a span:nth-child(2n) {
  transition-delay: 166.6666666667ms;
}
a span:nth-child(2n):after {
  transition-delay: 166.6666666667ms;
}
a span:nth-child(3n) {
  transition-delay: 250ms;
}
a span:nth-child(3n):after {
  transition-delay: 250ms;
}
a span:after {
  content: '';
  position: absolute;
  top: 100%;
  left: -1%;
  width: 102%;
  height: 2em;
  background: blue;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transform: scaley(0.1);
          transform: scaley(0.1);
  transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 250ms;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 250ms;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 250ms, -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 250ms;
}
a:hover span {
  -webkit-transform: translateY(-1em);
          transform: translateY(-1em);
}
a:hover span:after {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}
a:active span {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 125ms;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 125ms;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 125ms, -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 125ms;
  transition-delay: 0 !important;
}
a:active span:after {
  -webkit-transform: scaleY(0.5);
          transform: scaleY(0.5);
  transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 125ms;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 125ms;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 125ms, -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 125ms;
  transition-delay: 0 !important;
}
